.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin: 15px 0;
}

.category-grid button {
  padding: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.category-grid button:hover {
  background: #4338ca;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 6px;
}
.modal-box input {
  width: 90%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
}

