.cat-box {
  margin-top: 40px;
  padding: 20px;
  background: #f3f4f6;
  border-radius: 10px;
}

.cat-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}

.cat-row input {
  padding: 6px;
  width: 140px;
}

.cat-row button {
  padding: 5px 10px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cat-row button.delete {
  background: red;
}
